body{
    font-family: 'Fredoka', sans-serif;
}
/*

.grid1{
    display: flex;
    grid-auto-flow: column;
    column-gap: 20px;
    row-gap: 15px;
    flex-wrap:wrap;
    margin: 5px auto;
}


.grid1 > div{
    background-color: aqua;
    border-radius: 8%;
    width: 200px;
    justify-content: center;
    align-items:flex-end;
    
}

/*
div p{
    text-align: center;
    margin-top: 60%;
    color: black;
    background-color: rgb(240, 238, 238);
    padding: 15px;
    border-radius: 8%;
    margin-bottom: 0%;
}
*/
/*
div img{
    width: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 200px) and (max-width: 700px) {
    div{
        justify-content: center;
    }
}


/*
.div1{
    background: url("placeholder-image.png");
    object-fit: none;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 0px;
    left: 0px;
}
*/

/*
#bottom{
    position: absolute;
    padding: 15px;
    margin-top: 60%;
    background-color: white;
    margin-bottom: 0px;
    text-align: center;
    color: black;
}
*/






/*
.grid1 p{
    color: black;
    margin-top: 60%;
    text-align: center;
    background-color: rgb(230, 227, 227);
    padding: 10px;
    border-radius: 10%;
}
*/


.grid1 > div {
    width: 200px;
    height: 150px;
    background-color: aqua;
    margin: 3.5%;
    margin-left: 0px;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 3.5%;
}

.grid1{
    display: flex;
    flex-wrap: wrap;
}
.grid1 img{
    width: 200px;
    height: 120px;
}


.title p{
    color: red;
    background-color: rgb(224, 222, 222);
    margin-top: 60%;
}
.grid1 p{
    background-color: rgb(231, 231, 231);
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

@media screen and (min-width: 200px) and (max-width: 700px) {
    .grid1 div{
        justify-content: center;
        margin-bottom: 15%;
    }
}


