body{
    font-family: 'Fredoka', sans-serif;
}


.grid1{
    display: flex;
    grid-auto-flow: column;
    column-gap: 20px;
    row-gap: 15px;
    flex-wrap:wrap;
    margin: 5px auto;
}


.grid1 > div{
    background-color: aqua;
    border-radius: 8%;
    width: 200px;
    justify-content: center;
    align-items:flex-end;
}


div p{
    text-align: center;
    margin-top: 60%;
    color: black;
    background-color: rgb(240, 238, 238);
    padding: 10px;
    border-radius: 8%;
    margin-bottom: 0%;
}

div img{
    width: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 200px) and (max-width: 700px) {
    div{
        justify-content: center;
    }
}